.detail {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  background: #0d111c;
  width: 1920px;
}
.left {
  padding-left: 50px;
  padding-right: 50px;
}
.p1 {
  color: #fff;
  text-align: justify;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.p2 {

  color: #fff;
  text-align: justify;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.p3{
    color: #DDDBDB;
text-align: justify;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.p4{
    color: #FFF;
text-align: justify;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.p5{
    margin-top: -45px;
    color: #FFF;
text-align: justify;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}